/* styles for form */
form {
    display:flex;
    flex-direction:column;
    width:60%;
    margin:auto;
   
    input,textarea {
        padding:10px;
        outline:none;
        border:1px solid lightgrey;
        margin:8px 0px 30px 0px;
        border-radius:5px;
        
        &:focus {
            border:1px solid $secondary-color;
        }
    }
   
    button {
        @include btn;
        border-radius:5px;
        padding:8px 12px;
        width:30%;
        margin:auto;
    }
   }
   

   /* styles for tablet */

   @include tabletMediaQuery {
       form {
           width:80%;
       }
   }

   /* styles for phone */

   @include phoneMediaQuery {
       form {
           width:90%;
       }
   }
   