
/* styles for services */

section.services {
    
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:40px;
    grid-row-gap:70px;

    
    article.card {
        display:flex;
        flex-direction:column;
        border-radius:5px;
        
        @include boxShadow;
        
        img {
            width:100%;
            height:200px;
            object-fit:cover;
            border-radius:5px 5px 0px 0px;
        }

        div.desc {
            padding:30px;
            
            h3 {
                color:$secondary-color;
                font-family:$secondary-font;
                text-transform: capitalize;
                margin-bottom:10px;
            }
    
            button {
                @include btn;
                padding:8px 12px;
                margin-top:20px;
                border-radius:5px;
            }
                }
        
    }
}

/* styles fot tablet */
@include tabletMediaQuery {
    section.services {
        grid-template-columns:repeat(2,1fr);
       }
}

/* styles for phone */
@include phoneMediaQuery {
    section.services {
        grid-template-columns:repeat(1,1fr);
       }
}